* {
    font-family: 'IBM Plex Sans', sans-serif;
  }

  main {
    font-size: 1.5rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
  }

  div {
    padding: 1em;
    display: block;
    margin: auto;
  }

  input[type="submit"] {
    text-align: center;
    width: 25%;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:not(:checked)+label,
  input[type="radio"]:checked+label {
    color: yellow;
    -webkit-text-stroke: 1px black;
  }

  input[type="radio"]:checked+label~input[type="radio"]:not(:checked)+label {
    color: white;
    -webkit-text-stroke: 1px black;
  }

  #feedback {
    display: block;
  }